# /etc/systemd/system/finger2020@.service
[Unit]
Description=Finger Server
Requires=finger2020.socket

[Service]
Type=simple
ExecStart=/usr/bin/finger2020
EnvironmentFile=/etc/sysconfig/finger2020.env
StandardInput=socket
StandardError=journal

[Install]
WantedBy=multi-user.target